<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Random People
        </div>
        <table class="table table-striped">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Occupation</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.data">
                    <td>{{ row.firstname }}</td>
                    <td>{{ row.lastname }}</td>
                    <td>{{ row.age }}</td>
                    <td>{{ row.sex }}</td>
                    <td>{{ row.occupation }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
